springdoc:
  api-docs:
    path: /api-docs

management:
#  server:
#    port: 9091
#    base-path: /
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: bank-api
  prometheus:
    metrics:
      export:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers, prometheus